option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    ACCESS_TOKEN_EXPIRE_MINUTES: "1440"
    ALGORITHM: "HS256"
    CACHE_DEFAULT_TTL: "300"
    CACHE_KEY_PREFIX: "trading_app:"
    CACHE_TYPE: "redis"
    CORS_ALLOW_CREDENTIALS: "true"
    CORS_ALLOW_HEADERS: "*"
    CORS_ALLOW_METHODS: "GET,POST,PUT,DELETE,OPTIONS"
    CORS_ORIGINS: "https://trading-app-frontend-g1p5.onrender.com,https://master.dmmmzjqscsn45.amplifyapp.com"
    DEBUG: "false"
    ECHO_SQL: "false"
    ENVIRONMENT: "production"
    PORT: "8000"
    PROJECT_DESCRIPTION: "API para la aplicación de trading"
    PROJECT_NAME: "Trading App API"
    PROJECT_VERSION: "0.1.0"
    PYTHON_VERSION: "3.12.4"
    REDIS_URL: "redis://red-d6h0f0bh46gs73dtsheg:6379"
    RELOAD: "false"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app.main:app"