option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DATABASE_URL: "postgresql://user:password@database-1.citu4gew0sar.us-east-1.rds.amazonaws.com:5432/postgre"
    REDIS_URL: "redis://localhost:6379/0"
    MASSIVE_API_KEY: "VpHp5BNf04Zoub7DlauGiSFfbDCRiYgl"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app.main:app"